{% extends 'base.html' %}
{% load static %}
{% block title %} | News {% endblock title %}
{% block current_news %}current-menu-item{% endblock current_news %}
{% block content %}
    <!-- .main-content -->
    <main class="main-content">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'forecast:index' %}">Home</a>
                <span>News</span>
            </div>
        </div>

        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="content col-md-8">
                        {% for article in articles_news %}
                            <div class="post">
                                <h2 class="entry-title">{{ article.title }}</h2>
                                <div class="featured-image"><img
                                        src="{{ article.urlToImage }}"
                                        alt=""></div>
                                <p>{{ article.description }}</p>
                                <a href="{% url 'news:single' article.title %}" class="button">Read more</a>
                            </div>
                        {% endfor articles_hot_news %}

                        <center>
                            {#                        {% if page_obj.has_other_pages %}#}
                            {% if page_obj.has_previous %}
                                <a class="btn btn-outline-info mb-4" href="{% url 'news:news' name 1 %}">First</a>
                                <a class="btn btn-outline-info mb-4"
                                   href="{% url 'news:news' name page_obj.previous_page_number %}">Previous</a>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <a class="btn btn-info mb-4" href="{% url 'news:news' name num %}">{{ num }}</a>
                                {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                                    <a class="btn btn-outline-info mb-4"
                                       href="{% url 'news:news' name num %}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <a class="btn btn-outline-info mb-4"
                                   href="{% url 'news:news' name page_obj.next_page_number %}">Next</a>
                                <a class="btn btn-outline-info mb-4"
                                   href="{% url 'news:news' name page_obj.paginator.num_pages %}">Last</a>
                            {% endif %}
                            {#                        {% endif %}#}
                        </center>
                    </div>

                    <div class="sidebar col-md-3 col-md-offset-1">
                        <div class="widget">
                            <h3 class="widget-title">Hot News</h3>
                            <ul class="arrow-list">
                                {% for article in articles_hot_news %}
                                    <li><a href="{% url 'news:single' article.title %}">{{ article.title }}</a></li>
                                {% endfor articles_hot_news %}
                            </ul>
                        </div>

                        <div class="widget">
                            <h3 class="widget-title">Categories</h3>
                            <ul class="arrow-list">
                                <li><a href="{% url 'news:news' 'business' 1 %}">business</a></li>
                                <li><a href="{% url 'news:news' 'general' 1 %}">general</a></li>
                                <li><a href="{% url 'news:news' 'health' 1 %}">health</a></li>
                                <li><a href="{% url 'news:news' 'science' 1 %}">science</a></li>
                                <li><a href="{% url 'news:news' 'technology' 1 %}">technology</a></li>
                                <li><a href="{% url 'news:news' 'sports' 1 %}">sports</a></li>
                                <li><a href="{% url 'news:news' 'entertainment' 1 %}">entertainment</a></li>
                            </ul>
                        </div>

                        <div class="widget top-rated">
                            <h3 class="widget-title">Top Countries</h3>
                            <ul>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'ar' 1 %}">Argentina</a></h3>
                                </li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'br' 1 %}">Brazil</a></h3>
                                </li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'cn' 1 %}">China</a></h3></li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'de' 1 %}">Germany</a></h3>
                                </li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'jp' 1 %}">Japan</a></h3></li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'hl' 1 %}">Netherlands</a>
                                </h3></li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'pt' 1 %}">Portugal</a></h3>
                                </li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'uk' 1 %}">United Kingdom</a>
                                </h3></li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'us' 1 %}">United States</a>
                                </h3></li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'tr' 1 %}">Turkey</a></h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- .main-content -->
{% endblock content %}