{% extends 'base.html' %}
{% load static %}
{% block title %} | Article {% endblock title %}
{% block current_news %}current-menu-item{% endblock current_news %}
{% block content %}
    <!-- .main-content -->
    <main class="main-content">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'forecast:index' %}">Home</a>
                <a href="{% url 'news:news' 'none' '1' %}">News</a>
                <span>{{ title }}</span>
            </div>
        </div>


        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="content col-md-8">
                        <div class="post single">
                            <h2 class="entry-title">{{ title }}</h2>
                            <div class="featured-image"><img
                                    src="{{ urlToImage }}" alt=""></div>

                            <div class="entry-content">
                                <p>{{ content }}</p>

                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                                    quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                    porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                                    velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                                    magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                                    exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                                    consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                                    esse quam nihil molestiae consequatur.</p>

                                <blockquote>
                                    <p>{{ description }}</p>
                                </blockquote>

                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                    praesentium voluptatum deleniti corrupti quos dolores et quas molestias
                                    excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                                    officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
                                    rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis
                                    est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                                    possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus
                                    autem quibusdam et aut officiis debitis aut rerum.</p>

                                <p>Dlorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                                    numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                                    voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                                    suscipit beatae vitae dicta sunt explicabo e veritatis et quasi architecto
                                    beatae vitae dicta sunt explicabo earum rerum.</p>
                            </div>

                        </div>

                    </div>
                    <div class="sidebar col-md-3 col-md-offset-1">
                        <div class="widget">
                            <h3 class="widget-title">Hot News</h3>
                            <ul class="arrow-list">
                                {% for article in articles_hot_news %}
                                    <li><a href="{% url 'news:single' article.title %}">{{ article.title }}</a></li>
                                {% endfor articles_hot_news %}
                            </ul>
                        </div>

                        <div class="widget">
                            <h3 class="widget-title">Categories</h3>
                            <ul class="arrow-list">
                                <li><a href="{% url 'news:news' 'business' 1 %}">business</a></li>
                                <li><a href="{% url 'news:news' 'general' 1 %}">general</a></li>
                                <li><a href="{% url 'news:news' 'health' 1 %}">health</a></li>
                                <li><a href="{% url 'news:news' 'science' 1 %}">science</a></li>
                                <li><a href="{% url 'news:news' 'technology' 1 %}">technology</a></li>
                                <li><a href="{% url 'news:news' 'sports' 1 %}">sports</a></li>
                                <li><a href="{% url 'news:news' 'entertainment' 1 %}">entertainment</a></li>
                            </ul>
                        </div>

                        <div class="widget top-rated">
                            <h3 class="widget-title">Top Countries</h3>
                            <ul>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'ar' 1 %}">Argentina</a></h3>
                                </li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'br' 1 %}">Brazil</a></h3>
                                </li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'cn' 1 %}">China</a></h3></li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'de' 1 %}">Germany</a></h3>
                                </li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'jp' 1 %}">Japan</a></h3></li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'hl' 1 %}">Netherlands</a>
                                </h3></li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'pt' 1 %}">Portugal</a></h3>
                                </li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'uk' 1 %}">United Kingdom</a>
                                </h3></li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'us' 1 %}">United States</a>
                                </h3></li>
                                <li><h3 class="entry-title"><a href="{% url 'news:news' 'tr' 1 %}">Turkey</a></h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- .main-content -->
{% endblock content %}