{% extends 'base.html' %}
{% load static %}
{% block title %} | Contact {% endblock title %}
{% block current_contact %}current-menu-item{% endblock current_contact %}
{% block content %}
    <!-- .main-content -->
    <main class="main-content">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'core:contact' %}">Home</a>
                <span>Contact</span>
            </div>
        </div>

        <div class="fullwidth-block">
            <div class="container">
                <div class="col-md-5">
                    <div class="contact-details">
                        <div class="map" data-latitude="-6.897789" data-longitude="107.621735"></div>
                        <div class="contact-info">
                            <address>
                                <img src="{% static 'core/images/icon-marker.png' %}" alt="">
                                <p>Company Name INC. <br>
                                    2803 Esfahan, SEDE</p>
                            </address>

                            <a href="#">
                                <img src="{% static 'core/images/icon-phone.png' %}" alt="">
                                +98 902 919 1775
                            </a>
                            <a href="#">
                                <img src="{% static 'core/images/icon-envelope.png' %}" alt="">
                                persian1379pr@gmail.com
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h2 class="section-title">Contact us</h2>
                    <p>Send Email for Contact With US</p>
                    <form action="" method="post" enctype="multipart/form-data" class="contact-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ contact_form.your_name }}
                            </div>
                            <div class="col-md-6">
                                {{ contact_form.your_email_address }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ contact_form.your_company_name }}
                            </div>
                            <div class="col-md-6">
                                {{ contact_form.your_website }}
                            </div>
                        </div>
                        {{ contact_form.media }}
                        {{ contact_form.your_message|safe }}
                        <div class="text-right">
                            <input type="submit" placeholder="Send message">
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </main>
    <!-- .main-content -->
{% endblock content %}
{% block js %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
{% endblock js %}