{% extends 'base.html' %}
{% block title %} | Videos{% endblock title %}
{% load static %}
{% block current_live %}current-menu-item{% endblock current_live %}
{% block content %}
    <!-- .main-content -->
    <main class="main-content">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'forecast:index' %}">Home</a>
                <span>Videos</span>
            </div>
        </div>

        <div class="fullwidth-block">
            <div class="container">
                <div class="filter">
                    <div class="country filter-control">
                        <label for="">Videographer</label>
                        <span class="select control">
                            <select name="" id="">
                                <option value="" selected="selected">All Videographer</option>
                                <option value="">Ruvim Miksanskiy</option>
                                <option value="">Kelly Lacy</option>
                                <option value="">Roman Koval</option>
                                <option value="">Pixabay</option>
                                <option value="">Engin Akyurt</option>
                                <option value="">Michal Marek</option>
                                <option value="">Vimeo</option>
                                <option value="">David Bartus</option>
                                <option value="">Amit</option>
                            </select>
                        </span>
                    </div>
                    <div class="count filter-control">
                        <label for="">Show per page</label>
                        <span class="select control">
                            <select name="" id="">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">4</option>
                                <option value="" selected="selected">8</option>
                                <option value="">16</option>
                                <option value="">32</option>
                                <option value="">64</option>
                            </select>
                        </span>
                    </div>
                    <div class="quality filter-control">
                        <label for="">Duration</label>
                        <span class="select control">
                            <select name="" id="">
                                <option value="" selected="selected">All times</option>
                                <option value="">less than 10</option>
                                <option value="">between 10 - 20</option>
                                <option value="">between 20 - 30</option>
                                <option value="">between 30 - 40</option>
                                <option value="">between 40 - 50</option>
                                <option value="">between 50 - 60</option>
                                <option value="">more than 60</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row">
                    {% for video in video_list_top %}
                        <div class="col-md-3 col-sm-6">
                            <div class="live-camera">
                                <figure class="live-camera-cover">
                                    <a href="{{ video.url }}"><img src="{{ video.image }}" alt=""></a>
                                    <figcaption>The duration of the video is '<b>{{ video.duration }}</b>' seconds.
                                    </figcaption>
                                    <br>
                                    <figcaption>The videographer who shot the video is '<b>{{ video.user }}</b>'.
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    {% endfor video_list_top %}
                </div>
                <div class="row">
                    {% for video in video_list_bottom %}
                        <div class="col-md-3 col-sm-6">
                            <div class="live-camera">
                                <figure class="live-camera-cover">
                                    <a href="{{ video.url }}"><img src="{{ video.image }}" alt=""></a>
                                    <figcaption>The duration of the video is '<b>{{ video.duration }}</b>' seconds.
                                    </figcaption>
                                    <br>
                                    <figcaption>The videographer who shot the video is '<b>{{ video.user }}</b>'.
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    {% endfor video_list_bottom %}
                </div>

                <center>
                    {% if page_obj.has_other_pages %}
                        {% if page_obj.has_previous %}
                            <a class="btn btn-outline-info mb-4" href="{% url 'core:video' 1 %}">First</a>
                            <a class="btn btn-outline-info mb-4"
                               href="{% url 'core:photos' page_obj.previous_page_number %}">Previous</a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a class="btn btn-info mb-4" href="{% url 'core:video' num %}">{{ num }}</a>
                            {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                                <a class="btn btn-outline-info mb-4" href="{% url 'core:video' num %}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a class="btn btn-outline-info mb-4"
                               href="{% url 'core:video' page_obj.next_page_number %}">Next</a>
                            <a class="btn btn-outline-info mb-4"
                               href="{% url 'core:video' page_obj.paginator.num_pages %}">Last</a>
                        {% endif %}
                    {% endif %}
                </center>
            </div>
        </div>

    </main>
    <!-- .main-content -->
{% endblock content %}