{% extends 'base.html' %}
{% load static %}
{% block title %} | Photos{% endblock title %}
{% block current_photos %}current-menu-item{% endblock current_photos %}
{% block content %}
    <!-- .main-content -->
    <main class="main-content">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'forecast:index' %}">Home</a>
                <span>Photos</span>
            </div>
        </div>

        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {% for photo in photos_list_left %}
                            <div class="photo">
                                <div class="photo-preview photo-detail" data-bg-image="{{ photo.url }}"></div>
                                <div class="photo-details">
                                    <h3 class="photo-title"><a href="#"></a>{{ photo.description }}</h3>
                                    <p>Atatem accusantium aperiam eaque quae quasi architecto beatae vitae dicta sunt
                                        explicabo nemo enim.</p>
                                    <div class="star-rating" title="Rated 1 out of 5"><span style="width:60%"><strong
                                            class="rating">1</strong> out of 5</span></div>
                                </div>
                            </div>
                        {% endfor photos_list_left %}
                    </div>
                    <div class="col-md-6">
                        {% for photo in photos_list_right %}
                            <div class="photo">
                                <div class="photo-preview photo-detail" data-bg-image="{{ photo.url }}"></div>
                                <div class="photo-details">
                                    <h3 class="photo-title"><a href="#">{{ photo.description }}</a></h3>
                                    <p>Atatem accusantium aperiam eaque quae quasi architecto beatae vitae dicta sunt
                                        explicabo nemo enim.</p>
                                    <div class="star-rating" title="Rated 1 out of 5"><span style="width:60%"><strong
                                            class="rating">1</strong> out of 5</span></div>
                                </div>
                            </div>
                        {% endfor photos_list_right %}
                    </div>
                    <center>
                        {% if page_obj.has_other_pages %}
                            {% if page_obj.has_previous %}
                                <a class="btn btn-outline-info mb-4" href="{% url 'core:photos' 1 %}">First</a>
                                <a class="btn btn-outline-info mb-4"
                                   href="{% url 'core:photos' page_obj.previous_page_number %}">Previous</a>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <a class="btn btn-info mb-4" href="{% url 'core:photos' num %}">{{ num }}</a>
                                {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                                    <a class="btn btn-outline-info mb-4" href="{% url 'core:photos' num %}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <a class="btn btn-outline-info mb-4"
                                   href="{% url 'core:photos' page_obj.next_page_number %}">Next</a>
                                <a class="btn btn-outline-info mb-4"
                                   href="{% url 'core:photos' page_obj.paginator.num_pages %}">Last</a>
                            {% endif %}
                        {% endif %}
                    </center>
                </div>
            </div>
        </div>
    </main>
    <!-- .main-content -->
{% endblock content %}