{% extends 'base.html' %}
{% load static %}
{% block title %} | Index{% endblock title %}
{% block current_home %}current-menu-item{% endblock current_home %}
{% block content %}
    <!-- .main-content -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="hero" data-bg-image="{% static 'core/images/banner.png' %}">
        <div class="container">
            <form action="" method="get" class="find-location">
                {#                <label>#}
                {#                    <input type="text" placeholder="Find your location...">#}
                {#                </label>#}
                {{ search_form.cityName }}
                <input type="submit" value="Find">
            </form>
        </div>
    </div>
    {% if request.GET.cityName %}
        <div class="forecast-table">
            <div class="container">
                <div class="forecast-container">
                    <div class="today forecast">
                        <div class="forecast-header">
                            <div class="day">{{ day }}</div>
                            <div class="date">{{ date|date:'F d, Y' }}</div>
                        </div> <!-- .core-header -->
                        <div class="forecast-content">
                            <div class="location">{{ location }}</div>Feels like {{ feels_like }}<sup>o</sup><br>{{ condition_description }}
                            <div class="degree">
                                <div class="num">{{ temperature }}<sup>o</sup>C</div>{{ temperature_min }}<sup>o</sup>C
                                <div class="forecast-icon">
                                    {#                                <img src="{% static 'core/images/icons/icon-1.svg' %}" alt="" width=90>#}
                                    <img style="width: 100px;height: 100px"
                                         src="http://openweathermap.org/img/w/{{ condition_icon }}.png" alt="Image">
                                </div>
                            </div>
                            <span><img src="{% static 'core/images/icon-umberella.png' %}"
                                       alt="">{{ rain_possibility }}%</span>
                            <span><img src="{% static 'core/images/icon-wind.png' %}" alt="">{{ speed }}km/h</span>
                            <span><img src="{% static 'core/images/icon-compass.png' %}"
                                       alt="">{{ direction }}</span>
                        </div>
                    </div>
                    {% for day in six_future_days %}
                        <div class="forecast">
                            <div class="forecast-header">
                                <div class="day">{{ day.next_day }}</div>
                            </div> <!-- .core-header -->
                            <div class="forecast-content">
                                <div class="forecast-icon">
                                    {#                            <img src="{% static 'core/images/icons/icon-3.svg' %}" alt="" width=48>#}
                                    <img style="width: 100px;height: 100px"
                                         src="http://openweathermap.org/img/w/{{ day.condition_icon }}.png" alt="Image">
                                </div>
                                <div class="degree">{{ day.temperature }}<sup>o</sup>C</div>
                                <small>{{ day.temperature_min }}<sup>o</sup></small>
                            </div>
                        </div>
                    {% endfor six_future_days %}
                </div>
            </div>
        </div>
    {% endif %}
    <main class="main-content">
        <div class="fullwidth-block">
            <div class="container">
                <h2 class="section-title">Live cameras</h2>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="live-camera">
                            <figure class="live-camera-cover"><img
                                    src="{% static 'core/images/live-camera-1.jpg' %}"
                                    alt=""></figure>
                            <h3 class="location">New York</h3>
                            <small class="date">8 oct, 8:00AM</small>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="live-camera">
                            <figure class="live-camera-cover"><img
                                    src="{% static 'core/images/live-camera-2.jpg' %}"
                                    alt=""></figure>
                            <h3 class="location">Los Angeles</h3>
                            <small class="date">8 oct, 8:00AM</small>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="live-camera">
                            <figure class="live-camera-cover"><img
                                    src="{% static 'core/images/live-camera-3.jpg' %}"
                                    alt=""></figure>
                            <h3 class="location">Chicago</h3>
                            <small class="date">8 oct, 8:00AM</small>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="live-camera">
                            <figure class="live-camera-cover"><img
                                    src="{% static 'core/images/live-camera-4.jpg' %}"
                                    alt=""></figure>
                            <h3 class="location">London</h3>
                            <small class="date">8 oct, 8:00AM</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fullwidth-block" data-bg-color="#262936">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="news">
                            <div class="date">06.10</div>
                            <h3><a href="#">Doloremque laudantium totam sequi </a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo saepe assumenda
                                dolorem
                                modi, expedita voluptatum ducimus necessitatibus. Asperiores quod reprehenderit
                                necessitatibus harum, mollitia, odit et consequatur maxime nisi amet doloremque.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="news">
                            <div class="date">06.10</div>
                            <h3><a href="#">Doloremque laudantium totam sequi </a></h3>
                            <p>Nobis architecto consequatur ab, ea, eum autem aperiam accusantium placeat vitae
                                facere
                                explicabo temporibus minus distinctio cum optio quis, dignissimos eius aspernatur
                                fuga.
                                Praesentium totam, corrupti beatae amet expedita veritatis.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="news">
                            <div class="date">06.10</div>
                            <h3><a href="#">Doloremque laudantium totam sequi </a></h3>
                            <p>Enim impedit officiis placeat qui recusandae doloremque possimus, iusto blanditiis,
                                quam
                                optio delectus maiores. Possimus rerum, velit cum natus eos. Cumque pariatur beatae
                                asperiores, esse libero quas ad dolorem. Voluptates.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="section-title">Application features</h2>
                        <ul class="arrow-feature">
                            <li>
                                <h3>Natus error sit voluptatem accusantium</h3>
                                <p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto
                                    beatae vitae.</p>
                            </li>
                            <li>
                                <h3>Natus error sit voluptatem accusantium</h3>
                                <p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto
                                    beatae vitae.</p>
                            </li>
                            <li>
                                <h3>Natus error sit voluptatem accusantium</h3>
                                <p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto
                                    beatae vitae.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h2 class="section-title">Weather analyssis</h2>
                        <ul class="arrow-list">
                            <li><a href="#">Accusantium doloremque laudantium rem aperiam</a></li>
                            <li><a href="#">Eaque ipsa quae ab illo inventore veritatis quasi</a></li>
                            <li><a href="#">Architecto beatae vitae dicta sunt explicabo</a></li>
                            <li><a href="#">Nemo enim ipsam voluptatem quia voluptas</a></li>
                            <li><a href="#">Aspernatur aut odit aut fugit, sed quia consequuntur</a></li>
                            <li><a href="#">Magni dolores eos qui ratione voluptatem sequi</a></li>
                            <li><a href="#">Neque porro quisquam est qui dolorem ipsum quia</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h2 class="section-title">Awesome Photos</h2>
                        <div class="photo-grid">
                            <a href="#"><img src="{% static 'core/images/thumb-1.jpg' %}" alt="#"></a>
                            <a href="#"><img src="{% static 'core/images/thumb-2.jpg' %}" alt="#"></a>
                            <a href="#"><img src="{% static 'core/images/thumb-3.jpg' %}" alt="#"></a>
                            <a href="#"><img src="{% static 'core/images/thumb-4.jpg' %}" alt="#"></a>
                            <a href="#"><img src="{% static 'core/images/thumb-5.jpg' %}" alt="#"></a>
                            <a href="#"><img src="{% static 'core/images/thumb-6.jpg' %}" alt="#"></a>
                            <a href="#"><img src="{% static 'core/images/thumb-7.jpg' %}" alt="#"></a>
                            <a href="#"><img src="{% static 'core/images/thumb-8.jpg' %}" alt="#"></a>
                            <a href="#"><img src="{% static 'core/images/thumb-9.jpg' %}" alt="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- .main-content -->
{% endblock content %}