{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Weather PT forecast {% block title %}{% endblock title %}</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="{% static 'core/fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="{% static 'core/style.css' %}">

    <!--[if lt IE 9]-->
    <script src="{% static 'core/js/ie-support/html5.js' %}"></script>
    <script src="{% static 'core/js/ie-support/respond.js' %}"></script>
    <!--[endif]-->

</head>
<body>
<div class="site-content">
    <!-- .site-header -->
    <div class="site-header">
        <div class="container">
            <a href="{% url 'forecast:index' %}" class="branding">
                <img src="{% static 'core/images/logo.png' %}" alt="" class="logo">
                <div class="logo-type">
                    <h1 class="site-title">PT Company</h1>
                    <small class="site-description">tagline goes here</small>
                </div>
            </a>

            <!-- Default snippet for navigation -->
            <div class="main-navigation">
                <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                <ul class="menu">
                    <li class="menu-item {% block current_home %}{% endblock current_home %}"><a
                            href="{% url 'forecast:index' %}">Home</a></li>
                    <li class="menu-item {% block current_news %}{% endblock current_news %}"><a
                            href="{% url 'news:news' 'none' 1 %}">News</a></li>
                    <li class="menu-item {% block current_live %}{% endblock current_live %}"><a
                            href="{% url 'core:video' 1 %}">Videos</a></li>
                    <li class="menu-item {% block current_photos %}{% endblock current_photos %}"><a
                            href="{% url 'core:photos' 1 %}">Photos</a></li>
                    <li class="menu-item {% block current_contact %}{% endblock current_contact %}"><a
                            href="{% url 'core:contact' %}">Contact</a></li>
                </ul> <!-- .menu -->
            </div> <!-- .main-navigation -->

            <div class="mobile-navigation"></div>

        </div>
    </div>
    <!-- .site-header -->

    <!-- .site-content -->
    {% block content %}
    {% endblock content %}
    <!-- .site-content -->

    <!-- .site-footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form action="" method="post" class="subscribe-form">
                        {% csrf_token %}
{#                        <label>#}
{#                            <input type="text" placeholder="Enter your email to subscribe...">#}
{#                        </label>#}
                        {{ email_form.email_address }}
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="social-links">
                        <a href="https://m.facebook.com/pooria.tavana"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/Pooria9731?s=09"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <center><p class="colophon">Copyright 2014. All rights reserved</p></center>
        </div>
    </footer>
    <!-- .site-footer -->
</div>

<script src="{% static 'core/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'core/js/plugins.js' %}"></script>
<script src="{% static 'core/js/app.js' %}"></script>
{% block js %}{% endblock js %}

</body>
</html>